/* ==========
Allgemein
========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primaryColour: #1C2227;
    --secondaryColour:#F6F1EB;
    --accentColour: #C99E57;
    --margin: 1rem;
}
body {
    padding: 2rem;
    background-image: url(../img/photo-1623008946129-2dbc4188f2e7.avif);
    background-size: cover;
    height: 100vh;
}

/* ==========
Main
========== */
main {
    background-color: var(--secondaryColour);
    color: var(--primaryColour);
    padding: 1rem;
    max-height: 100vh;
    overflow: hidden;
}

form {
    margin: var(--margin) auto;
}
textarea {
    width: 100%;
}
#outputExplanation {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(10,1fr);
    grid-auto-flow: column;
    max-height: 100%;
}
/* #outputExplanation p {
    padding-left: 1rem;
} */

/* ==========
Footer
========== */
footer {
    height: 15vh;
    width: 100vw;
    background-color: var(--secondaryColour);
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
footer div {
    display: grid;
    grid-template-columns: repeat(37, 1fr);
}
footer p {
    border: 1px solid var(--accentColour);
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div:nth-of-type(2) p {
    writing-mode: vertical-lr;
}